nav {
    padding: 10px 2%;
    justify-content: space-between;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.nav-left .menu-icon {
    width: 22px;
    margin-right: 25px;
}

.nav-left .logo {
    width: 130px;
}

.nav-middele .search-box {
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
}

.nav-middele .search-box input {
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
}

.nav-middele .search-box img {
    width: 15px;
}

.nav-right img {
    width: 25px;
    margin-right: 25px;
}

.nav-right .user-icon {
    width: 35px;
    border-radius: 50%;
}

@media (max-width:900px) {
    .menu-icon {
        display: none;
    }

    .nav-right img {
        display: none;
    }

    .nav-right .user-icon {
        display: block;
        width: 30px;
    }

    .logo {
        width: 90px;
    }

    .nav-middele.search-box input {
        width: 100px;
    }
}


@media (max-width: 360px) {
    nav {
        padding: 10px 1%;
    }

    .nav-left,
    .nav-middele,
    .nav-right {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
    }

    .nav-left .logo {
        width: 70px;
        margin-right: 20px;
    }

    .nav-middele .search-box {
        width: calc(100% - 20px);
        margin-right: 20;
    }

    .nav-middele .search-box input {
        width: 100%;
        padding: 5px;
    }

    .nav-right .user-icon {
        width: 20px;
    }

    .nav-right img {
        display: none;
    }
}